*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Poppins,sans-serif;
background:
radial-gradient(circle at top,#302b63,#0f0c29);
color:white;
overflow-x:hidden;
position:relative;
}

#sakura-container{
position:fixed;
inset:0;
pointer-events:none;
z-index:-1;
overflow:hidden;
}

.sakura{
position:absolute;
top:-30px;
animation:fall linear forwards;
opacity:.7;
}

@keyframes fall{

0%{
transform:
translateY(0)
rotate(0deg);
}

100%{
transform:
translateY(110vh)
rotate(360deg);
}

}

.hero{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.glass{
width:min(900px,95%);
padding:50px;
text-align:center;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.15);

border-radius:30px;

box-shadow:
0 0 40px rgba(255,255,255,.05);
}

.title{

font-size:
clamp(3rem,8vw,6rem);

font-family:
"Cormorant Garamond",serif;

margin-bottom:20px;
}

#typing{
font-size:1.2rem;
line-height:1.8;
min-height:80px;
}

button{

margin-top:30px;

padding:15px 40px;

border:none;

border-radius:999px;

background:white;

color:#222;

font-weight:600;

cursor:pointer;

transition:.3s;
}

button:hover{

transform:
translateY(-4px);

box-shadow:
0 10px 30px rgba(255,255,255,.2);

}

.section{

padding:
100px 20px;

max-width:1200px;

margin:auto;
}

.card{

background:
rgba(255,255,255,.07);

backdrop-filter:
blur(15px);

border:
1px solid rgba(255,255,255,.1);

padding:35px;

border-radius:25px;

line-height:3;
}

.section-title{

text-align:center;

font-size:
clamp(2rem,5vw,4rem);

margin-bottom:40px;

font-family:
"Cormorant Garamond",serif;
}

.grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;
}

.quote{

text-align:center;

font-family:
"Cormorant Garamond",serif;

font-size:1.3rem;
}

.final{
text-align:center;
}

.reveal{

opacity:0;

transform:
translateY(80px);

transition:
1s ease;
}

.reveal.active{

opacity:1;

transform:
translateY(0);
}

@media(max-width:768px){

.glass{
padding:30px;
}

.card{
padding:25px;
}

}